/*style ogolne poczatek*/
body{
    font-family: 'Roboto Slab', serif;
    color: #777777;
    margin: 0;
}

 h2 {
    color: #333333;
    font-weight: 500;
    text-transform: uppercase;
    padding-top: 100px;
    text-align: center;
    padding-bottom: 20px;
}

h3{
    color: #333333;
    padding: 20px;
    text-align: center;
}

p{
    text-align: center;
}
/*style ogolne koniec*/

/*style menu poczatek*/

    #main-nav{

        font-family: 'Montserrat', sans-serif;
        background-color: transparent;
    }

    #main-nav {
    background-color: transparent;
    border: 0;
    }

    #main-nav a.navbar-brand {
        font-size: 2em;
        font-family:'Droid-Serif',sans-serif;
        text-transform: none;
    }

    #main-nav a {
        color: #fff;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        transition: all 0.3s;
    }

    #main-nav a:hover {
        color: #0ed8d6;
    }

    #main-nav scroll {
        background-color: #0ed8d6;
    }

    #main-nav .navbar-toggle {
        color: #777777;
        transition: all 0.3s;
    }

    #main-nav .navbar-toggle:hover {
        background-color: #0ed8d6;
    }

/*style menu koniec*/



/*style naglowek poczatek*/


#main-header {
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(../img/header/pictures_on_the_wall.jpg);
    background-size: cover;
    position: relative;
}

#main-header .header-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

#main-header .header-caption h1 {
    color: #fff;
    margin: 45px 0;
    font-size: 4em;
}

#main-header .header-caption h2 {
    color: #fff;
    font-family: 'Droid-Serif', sans-serif;
    font-size: 1,5em;
}

#main-header .header-caption a {
    color: #fff;
}
/*style naglowek koniec*/


/*style services poczatek*/


#services{
    text-align: center;
}



#services i{
    background-color: #0ed8d6;
    border-radius: 75px;
    height: 80px;
    width: 80px;
    line-height: 80px;
    color: white;
    margin-top: 50px;
    transition-duration: 2s; 
}

#services i:hover{
    transform:rotateY(180deg);
    
    
}

#services-items{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 200px;
}

/*style services koniec*/

/*style portfolio poczatek*/
.zdjecia{
    width: 250px;
    height: 150px;    
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    
}

#zdjecie1{
    background-image: url("../img/portfolio/chestnut_on_bracket.jpg");
}

#zdjecie2{
    background-image: url("../img/portfolio/typing_on_laptop.jpg");
}

#zdjecie3{
    background-image: url("../img/portfolio/child_with_blue_paint.jpg");
}

#zdjecie4{
    background-image: url("../img/portfolio/chaotic_paint.jpg");
}

#zdjecie5{
    background-image: url("../img/portfolio/house_with_blue_doors.jpg");
}

#zdjecie6{
    background-image: url("../img/portfolio/box_of_cookies.jpg");
}

#portfolio{
    background-color: #f7f7f7;
    margin-top: 50px;
    padding-bottom: 150px;   
    margin-left: auto;
    margin-right: auto;
}


#portfolio h3{
    font-size: 12px;
    padding: 0;
}

#portfolio p{
    font-size: 10px;
    padding-bottom: 15px;
}

#portfolio-items{
    margin: 0 auto;
    width: 75%;
}

.potfolio-item, .portfolio-item-content{
    background-color: white;
    width: 250px;
    margin: 0 auto;
   
}
/*style portfolio koniec*/


/*style team poczatek*/

.team-item{
    margin: 0 auto;
    position: relative;
}

#team img{
    border-radius: 75px;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, 50%)
}


/*style team koniec*/

